@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*
 * ========== Clock Section ==========
 */
.m-clock {
	font-size: 128px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;

	transition: background 0.4s ease;
	text-align: center;
	padding: 0 22px 4px;

}

.m-clock .hours {
	text-shadow:2px 2px 3px rgba(150,150,150,0.75);
	border-radius: 25px;
	color: white;
	opacity: 1;
	position: relative;
}

.m-clock .minutes {
	text-shadow:2px 2px 3px rgba(150,150,150,0.75);
	border-radius: 25px;
	color: white;
	opacity: 1;
  position: relative;
}

.m-date {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	font-size: 1.75rem;
	font-weight: 100;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

/*
 * ========== Search Bar ==========
 */

 body{
  font-family: 'Montserrat', sans-serif;
}

 .search {
  width: 100%;
  position: relative
}

::-webkit-input-placeholder {
  color: white;
}

.submit{
		color: grey;
}

.searchTerm {
  float: left;
  width: 100%;
	color: grey;
  border: 3px solid grey;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
	background-color:rgba(255,255,255,.3);
}

.searchTerm:focus{
  color: white;
}

.searchButton {
  position: absolute;
  right: -100px;
  width: 80px;
  height: 36px;
  border: 2px solid grey;
  background: Gainsboro ;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
	color: grey;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
