@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.weather{
	
  background: grey;
  font-size: 12px;
  font-style: Thin;
  padding: 8px;
  border-radius: 80px;
  text-align: center;
  background-color:rgba(212,212,212,.2);
  position: absolute;
  color: white;
  width: 200px;
  top: 0px;
  right: 0px;
  
}

h1 {
  color: white;
}

.city{
  position: center;
}

.temp{
  font-size:24px;
  margin: 0 auto
}

.temp-unit{
  margin: 0 auto;
  position: center;
  font-size: 12px;
}
